#title.d-flex.justify-content-between.mb-3
  %h3 Jay and May Properties
  %h3 
    = @print_type

#id-block.d-flex.justify-content-between.mb-3
  #address
    %p.mb-0 12219 Tesson Ferry Rd
    %p Saint Louis, MO 63128
  #logo
    = image_tag("https://i.imgur.com/DdjAWlt.png", width: '250px;')
    -# = image_tag(image_url("storage.png"), width: '250px;')
